venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.git/
.gitignore

backend/*.sqlite3
backend/db_v2.sqlite3
backend/staticfiles/

frontend/node_modules/
frontend/.vite/

*.log
.DS_Store
Thumbs.db

